<div
  class="image-container"
  [style.height]="containerHeight"
  [style.width]="containerWidth"
  [class.loading]="isLoading()"
  [class.error]="hasError()"
  [class.loaded]="isLoaded()"
>
  <!-- Spinner de Carga -->
  @if (isLoading() && enableSpinner) {
  <div class="overlay spinner-overlay">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="40"
    ></mat-progress-spinner>
  </div>
  }

  <!-- Icono de Error -->
  @if (hasError() && enableErrorIcon && !isLoading()) {
  <div class="overlay error-overlay">
    <mat-icon class="error-icon">broken_image</mat-icon>
    <span class="error-text">No se pudo cargar la imagen</span>
  </div>
  }

  <!-- La Imagen (se muestra solo si hay URL y no hay error, o después de cargar) -->
  @if (processedImageUrl() && !hasError()) {
  <div style="border: 0px solid black">
    <button
      mat-button
      class="btn-corp-primary image-button"
      style="
        background-color: #f97c06;
        color: aliceblue;
        font-family: Montserrat;
        border-radius: 9px;
      "
      (click)="openImageDialog()"
    >
      Ver Tarifa
    </button>
  </div>
  }
</div>
