<div class="page-container detail-page-container">
  <div class="page-header">
    <button
      mat-icon-button
      routerLink="/configuracion/users"
      matTooltip="Back to User List"
      aria-label="Back to user list"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <ng-container *ngIf="user$ | async as user; else loadingOrMissingTitle">
      <h1>
        {{
          isEditMode
            ? "Edit User: " + user.username
            : "User Details: " + user.username
        }}
      </h1>
    </ng-container>
    <ng-template #loadingOrMissingTitle>
      <h1>
        {{
          isLoading
            ? "Loading User..."
            : isEditMode
            ? "Edit User"
            : "User Details"
        }}
      </h1>
    </ng-template>

    <!-- Botón para cambiar entre modo vista y edición -->
    <button
      *ngIf="!isLoading && (user$ | async) && !isEditMode"
      mat-stroked-button
      color="accent"
      (click)="navigateToEdit()"
    >
      <mat-icon>edit</mat-icon> Edit User
    </button>
    <!-- <button
      *ngIf="!isLoading && (user$ | async) && isEditMode"
      mat-stroked-button
      color="primary"
      (click)="navigateToView()"
    >
      <mat-icon>visibility</mat-icon> View Details
    </button> -->
  </div>

  <div *ngIf="isLoading" class="spinner-container">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="60"
    ></mat-progress-spinner>
  </div>

  <ng-container *ngIf="!isLoading && (user$ | async) as user">
    <div *ngIf="isEditMode" class="form-wrapper">
      <app-user-form
        [userToEdit]="user"
        (formSubmit)="handleFormSubmit($event)"
        (formCancel)="handleFormCancel()"
        [isLoading]="isLoading"
      ></app-user-form>
    </div>

    <div *ngIf="!isEditMode" class="card-wrapper">
      <app-user-card [user]="user"></app-user-card>
      <!-- Podrías añadir más detalles aquí si es necesario que no estén en la card -->
    </div>
  </ng-container>

  <p *ngIf="!isLoading && !(user$ | async) && userId" class="not-found-message">
    User with ID {{ userId }} not found or could not be loaded.
  </p>
</div>
