.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.mat-dialog-content {
  height: 100vh;
  min-height: 85vh;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
