.form-row {
  display: flex;
  gap: 16px;
  margin-bottom: 8px; // Ajusta según necesidad
}

.form-field {
  flex: 1; // Para que ocupen el espacio disponible en la fila
}

.full-width-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-card-actions {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.group-title {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
