.multi-section-form-card {
  max-width: 900px; // Ancho máximo para el formulario
  margin: 24px auto; // Centrado y con margen
  padding: 16px 24px; // Padding interno
  border-radius: 8px; // Bordes redondeados
  // background-color: rgb(255, 255, 255);
}

mat-card-title {
  font-size: 1.5em; // Título de la tarjeta
  margin-bottom: 4px;
}
mat-card-subtitle {
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.form-section {
  margin-bottom: 32px;
  gap: 10px !important;
  // border: 1px solid black;

  .section-title {
    font-size: 1.2em;
    font-weight: 500;
    // color: #3f51b5; // Color primario de Material (o tu color de tema)
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px; // Espacio entre icono y texto
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
  }
}

.section-divider {
  margin-top: 16px;
  margin-bottom: 32px;
}

// Grid para organizar campos (responsive)
.form-grid {
  display: grid;
  gap: 20px; // Espacio entre campos
  // Por defecto, 1 columna en móviles, se ajustará con media queries
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  &.two-columns {
    // Clase específica para forzar 2 columnas si hay espacio
    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form-field-group {
  display: flex;
  flex-direction: column; // O 'row' si quieres los checkboxes en línea
  gap: 8px;
  margin-top: 8px; // Espacio antes del grupo de checkboxes

  .checkbox-group-label {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4px;
    font-weight: 500;
  }
}

.small-checkbox {
  ::ng-deep .mdc-form-field {
    font-size: 0.9em;
  }
}

.form-actions-sticky {
  display: flex;
  gap: 10px !important;
}

.volume-discount-section {
  margin: 20px 0;
}

.volume-discount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f8e9;
  border: 1px solid #a6e1a5;
  border-radius: 8px;
  padding: 20px;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.discount-info {
  flex: 1;
  margin-right: 20px;

  .discount-title {
    margin: 0 0 5px 0;
    font-weight: 900 !important;
    color: rgb(25, 146, 43) !important;
  }

  .discount-desc {
    margin: 0;
    font-size: 0.85rem;
    color: #4a9912;
    font-weight: 700;
    line-height: 1.4;
  }
}
