<div class="page-container">
  <div class="header">
    <h1 class="page-title">
      {{
        isAdminOrReceptionist()
          ? "Gestión de Registros de Envio"
          : "Mis Registros de Distribuidor"
      }}
    </h1>
    <div class="header-actions">
      <button
        mat-stroked-button
        (click)="openMassiveImportDialog()"
        class="btn-corp-secondary"
      >
        <mat-icon>upload_file</mat-icon>
        <span>Importar desde Excel</span>
      </button>
      <button
        mat-raised-button
        color="primary"
        class="btn-corp-primary"
        (click)="openManualRegistrationDialog()"
      >
        <mat-icon>add</mat-icon>
        <span>Nuevo Registro</span>
      </button>
    </div>
  </div>

  <div class="history-section">
    <div class="filter-controls">
      <app-filter-toolbar
        (searchChanged)="onSearchChanged($event)"
      ></app-filter-toolbar>
      <button
        mat-icon-button
        (click)="fetchData()"
        matTooltip="Actualizar la lista"
        class="refresh-button btn-corp-primary"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <app-date-range-filter
        (dateRangeChanged)="onDateRangeChanged($event)"
      ></app-date-range-filter>
    </div>

    <app-registrations-table
      [dataSource]="registrations()"
      [resultsLength]="resultsLength()"
      [isLoadingResults]="isLoading()"
      [showActions]="isAdminOrReceptionist()"
      (paramsChanged)="onTableParamsChanged($event)"
      (edit)="handleEdit($event)"
      (delete)="handleDelete($event)"
      (print)="handlePrint($event)"
    >
    </app-registrations-table>
  </div>
</div>
