<form
  [formGroup]="districtForm"
  (ngSubmit)="onSubmit()"
  novalidate
  class="district-form-container"
>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{
        districtToEdit
          ? "Editar Distrito/Tarifa"
          : "Crear Nuevo Distrito/Tarifa"
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="padding-bottom: 20px" *ngIf="districtForm.get('code')?.value">
        N°:
        <span>{{ districtForm.get("code")?.value }}</span>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width-field">
          <mat-label>Nombre del Distrito</mat-label>
          <input
            matInput
            formControlName="name"
            required
            placeholder="Ej: Carabayllo"
            [matAutocomplete]="autoDistrictName"
          />
          <!--            (optionSelected)="onDistrictNameSelected($event)" -->
          <mat-autocomplete #autoDistrictName="matAutocomplete">
            @for (name of filteredDistrictNames$ | async; track name) {
            <mat-option [value]="name">{{ name }}</mat-option>
            }
          </mat-autocomplete>
          @if (nameCtrl?.hasError('required') && (nameCtrl?.touched ||
          nameCtrl?.dirty)) {
          <mat-error>El nombre del distrito es obligatorio.</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Peso Desde (kg)</mat-label>
          <input
            matInput
            formControlName="weight_from"
            type="number"
            min="0"
            step="0.01"
            required
            placeholder="0.00"
          />
          @if (weightFromCtrl?.hasError('required') && (weightFromCtrl?.touched
          || weightFromCtrl?.dirty)) {
          <mat-error>Peso Desde es obligatorio.</mat-error>
          } @if (weightFromCtrl?.hasError('min') && (weightFromCtrl?.touched ||
          weightFromCtrl?.dirty)) {
          <mat-error>Debe ser mayor o igual a 0.</mat-error>
          } @if (weightFromCtrl?.hasError('weightOrder') &&
          (weightFromCtrl?.touched || weightFromCtrl?.dirty)) {
          <mat-error>{{ weightFromCtrl?.errors?.['weightOrder'] }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Peso Hasta (kg)</mat-label>
          <input
            matInput
            formControlName="weight_to"
            type="number"
            min="0"
            step="0.01"
            required
            placeholder="0.00"
          />
          @if (weightFromCtrl?.hasError('weightOrder') &&
          (weightFromCtrl?.touched || weightFromCtrl?.dirty)) {
          <mat-error>{{ weightFromCtrl?.errors?.['weightOrder'] }}</mat-error>
          }
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Precio Tarifa (S/)</mat-label>
        <input
          matInput
          formControlName="price"
          type="number"
          min="0"
          step="0.01"
          required
          placeholder="0.00"
        />
        <span matTextPrefix>S/ </span>
        @if (weightToCtrl?.hasError('weightOrder') && (weightToCtrl?.touched ||
        weightToCtrl?.dirty)) {
        <mat-error>{{ weightToCtrl?.errors?.['weightOrder'] }}</mat-error>
        }
      </mat-form-field>

      <div class="form-row">
        <mat-checkbox
          formControlName="isStandard"
          color="primary"
          class="standard-checkbox"
        >
          ¿Es tarifa estándar para este distrito?
        </mat-checkbox>
      </div>

      <div class="form-row">
        <mat-checkbox
          formControlName="isExpress"
          color="primary"
          class="standard-checkbox"
        >
          Express
        </mat-checkbox>
      </div>

      <mat-form-field
        appearance="outline"
        class="full-width-field"
        *ngIf="districtForm.get('isExpress')?.value"
      >
        <mat-label>porcentaje de recargo (%)</mat-label>
        <input
          matInput
          formControlName="surchargePercentage"
          type="number"
          min="0"
          step="0.01"
          placeholder="0.00"
        />
      </mat-form-field>

      <div
        class="full-width-field"
        style="display: flex; margin-left: 10px"
        *ngIf="districtForm.get('isExpress')?.value"
      >
        <span>Monto con Recargo: S/ </span>
        <span>{{
          (districtForm.get("price")?.value / 100) *
            districtForm.get("surchargePercentage")?.value +
            districtForm.get("price")?.value
        }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions" align="end">
      <button
        mat-stroked-button
        type="button"
        (click)="onCancelClick()"
        class="btn-corp-secondary"
      >
        Cancelar
      </button>
      <button
        mat-flat-button
        type="submit"
        [disabled]="isLoading || districtForm.invalid"
        class="btn-corp-primary"
      >
        {{
          isLoading ? "Guardando..." : districtToEdit ? "Actualizar" : "Guardar"
        }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
