<div class="page-content-wrapper">
  <div class="page-title-bar">
    <h1 class="page-title">Lista de cierre de caja</h1>
    <div class="breadcrumbs">
      <!-- Ejemplo de Breadcrumbs (puedes hacerlo más dinámico) -->
      <!-- <a routerLink="/">Inicio</a> /
      <span>Listado de pedidos </span> -->
    </div>
  </div>

  <app-order-filters
    (filtersChanged)="onFiltersChanged($event)"
  ></app-order-filters>
  <button mat-stroked-button color="primary" (click)="exportDataToExcel()">
    Exportar a Excel
  </button>

  <div class="orders-grid">
    <app-order-table
      [orders]="orders"
      [isLoading]="isLoading"
      [totalCount]="totalOrderCount"
      [pageSize]="currentPageSize"
      [pageIndex]="currentPageIndex"
      (pageChanged)="onPageChanged($event)"
      (sortChanged)="onSortChanged($event)"
      (statusChanged)="handleStatusChanged($event)"
      (motorizedChanged)="handleMotorizedChanged($event)"
      (rescheduleChanged)="handleRescheduleChanged($event)"
    ></app-order-table>
  </div>
</div>
