<div class="page-content-wrapper">
  <div class="page-title-bar">
    <h1 class="page-title">Listado de pedidos</h1>
    <div class="breadcrumbs">
      <!-- Ejemplo de Breadcrumbs (puedes hacerlo más dinámico) -->
      <!-- <a routerLink="/">Inicio</a> /
      <span>Listado de pedidos Lima</span> -->
    </div>
  </div>

  <app-order-filters
    (filtersChanged)="onFiltersChanged($event)"
  ></app-order-filters>

  <div class="table-controls-bar">
    <div class="records-info"></div>
    <div class="actions-group">
      <button
        mat-flat-button
        class="btn-corp-primary"
        [matMenuTriggerFor]="massiveActionsMenu"
      >
        Acciones Masivas <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #massiveActionsMenu="matMenu">
        <button mat-menu-item (click)="exportDataToExcel()">
          Exportar a Excel
        </button>
        <!-- <button mat-menu-item (click)="handleMassiveActions('print_selected')">
          Imprimir Seleccionados
        </button> -->
        <button mat-menu-item (click)="openImportModal()">
          Importar desde Excel
        </button>
      </mat-menu>
    </div>
  </div>

  <app-order-table
    [orders]="orders"
    [isLoading]="isLoading"
    [totalCount]="totalOrderCount"
    [pageSize]="currentPageSize"
    [pageIndex]="currentPageIndex"
    (pageChanged)="onPageChanged($event)"
    (sortChanged)="onSortChanged($event)"
    (statusChanged)="handleStatusChanged($event)"
    (motorizedChanged)="handleMotorizedChanged($event)"
    (rescheduleChanged)="handleRescheduleChanged($event)"
  ></app-order-table>
</div>
