<div class="my-route-container">
  <mat-card class="route-summary-card">
    <div style="margin: 20px; font-weight: 600">Mis Rutas de Hoy</div>
    <mat-card-content>
      <div class="header-controls">
        <mat-form-field appearance="outline" class="date-picker">
          <mat-label>Fecha de Ruta</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="selectedDate"
            (dateChange)="onDateChange()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngIf="routesForSelectedDate.length > 0; else noRoutes">
    <mat-tab-group
      (selectedTabChange)="selectRoute($event.index)"
      animationDuration="0ms"
    >
      <mat-tab
        *ngFor="let route of routesForSelectedDate; let i = index"
        [label]="'Ruta ' + (i + 1)"
      >
      </mat-tab>
    </mat-tab-group>
    <div class="map-container" *ngIf="selectedRoute">
      <google-map height="400px" width="100%" [options]="mapOptions">
        <map-marker
          *ngFor="let marker of markers"
          [options]="marker"
        ></map-marker>
        <map-polyline
          *ngFor="let polyline of polylines"
          [options]="polyline"
        ></map-polyline>
      </google-map>
    </div>

    <div
      class="summary-item"
      *ngIf="selectedRoute?.breakStart"
      style="margin: 10px"
    >
      <div class="timeline-item">
        <br />
        <strong
          >Partida: {{ selectedRoute?.startingPoint || "No definido" }}</strong
        >
        <br />
        <small>
          Hora de Salida Estimada:
          {{ selectedRoute?.vehicleStartTime || "" }}
        </small>
        <br />
        <br />
        <strong>Refrigerio:</strong>
        <br />
        <small>
          Hora: {{ selectedRoute?.breakStart }} | Duración:
          {{ selectedRoute?.breakDuration }}
        </small>
      </div>
    </div>
    <div class="stops-manifest" *ngIf="selectedRoute">
      <mat-card
        *ngFor="let stop of selectedRoute.stops; let i = index"
        class="stop-item"
        class="stop-card"
        [ngClass]="{
          'completed-stop': isStopCompleted(stop),
          'active-stop': isStopActive(stop)
        }"
      >
        <div class="stop-status">
          <span
            class="status-badge"
            [ngClass]="getStatusClass(stop.order.status)"
            selected
          >
            {{ stop.order.status }}
          </span>
        </div>
        <mat-card-header>
          <div mat-card-avatar class="stop-number">
            {{ stop.sequenceOrder }}
          </div>
          <div class="stop-head">
            <span
              ><strong>Empresa:</strong> {{ stop.order.company.username }}</span
            >
            <span
              ><strong>Cliente:</strong> {{ stop.order.recipient_name }}</span
            >
            <span><strong>Dirección:</strong> {{ stop.address }}</span>
            <span
              ><strong>Telefono:</strong>
              <a
                [href]="getWhatsAppLink(stop.order.recipient_phone)"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ stop.order.recipient_phone }}
              </a>
            </span>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="stop-details">
            <span
              ><strong>Hora llegada:</strong> {{ stop.plannedStartTime }}</span
            >-
            <span><strong>Hora salida:</strong> {{ stop.plannedEndTime }}</span>
            |
            <span><strong>Pedido:</strong> #{{ stop.orderCode }}</span>
          </div>
          <p *ngIf="stop.order.observations" class="notes">
            <strong>Notas:</strong> {{ stop.order.observations }}
          </p>
        </mat-card-content>
        <mat-card-actions
          align="end"
          style="display: flex; justify-content: space-around; gap: 10px"
        >
          <button
            mat-raised-button
            color="secondary"
            class="navigate-button"
            (click)="navigateToStop(i)"
            style="padding: 25px"
          >
            <mat-icon>navigation</mat-icon>
            Navegar a Parada
          </button>
          <button
            mat-flat-button
            color="primary"
            (click)="manageDelivery(stop)"
            [disabled]="!isStopActive(stop)"
            style="padding: 25px"
          >
            Gestionar Entrega
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <ng-template #noRoutes>
    <mat-card class="no-routes-card">
      <mat-icon>explore_off</mat-icon>
      <p>No hay rutas asignadas para la fecha seleccionada.</p>
    </mat-card>
  </ng-template>
</div>
