<div class="page-container" fxLayout="column" fxLayoutGap="24px">
  <div class="page-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="page-title">Gestión de Distritos</h1>
    <button
      mat-flat-button
      class="btn-corp-primary create-button"
      (click)="navigateToCreate()"
    >
      <mat-icon>add_circle_outline</mat-icon>
      <span>Nuevo Distrito</span>
    </button>
  </div>

  <mat-card appearance="outlined" class="filter-card">
    <mat-card-content fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="outline" class="search-field" fxFlex>
        <mat-label>Buscar distrito por nombre</mat-label>
        <input
          matInput
          (keyup)="onSearchTermChange($event)"
          placeholder="Ej: Carabayllo, Lince, 101..."
          #searchInput
        />
        <button
          mat-icon-button
          matSuffix
          *ngIf="searchInput.value"
          (click)="clearSearch(searchInput)"
          aria-label="Limpiar búsqueda"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon matSuffix *ngIf="!searchInput.value">search</mat-icon>
      </mat-form-field>
      <!-- Podrías añadir más filtros aquí si es necesario, ej. un mat-select para 'isStandard' -->
    </mat-card-content>
  </mat-card>

  <app-district-table
    [districts]="districts"
    [isLoading]="isLoading"
    [totalCount]="totalDistricts"
    [pageSize]="currentPageSize"
    [pageIndex]="currentPageIndex"
    (pageChanged)="onPageChanged($event)"
    (sortChanged)="onSortChanged($event)"
    (editDistrict)="navigateToEdit($event)"
    (deleteDistrict)="confirmAndDeleteDistrict($event)"
  ></app-district-table>
</div>
