.login-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  // min-height: 100vh; // Ocupa toda la altura de la vista
  // background-image: url('https://wallpapers.com/images/featured-full/fondo-de-espacio-htygkta8z6o3mcx2.jpg'); // Imagen de fondo
  background-size: cover; // Cubre todo el espacio
  background-position: center; // Centra la imagen
  background-repeat: no-repeat; // Evita que la imagen se repita
  // padding: 20px;
  // border: 1px solid black;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.login-card {
  width: 100%;
  max-width: 400px; // Ancho máximo de la tarjeta de login
  padding: 24px; // Padding interno generoso
  border-radius: 8px; // Bordes redondeados
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // Sombra más pronunciada
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); // Fondo blanco semitransparente para la tarjeta
}

.login-card-header {
  text-align: center;
  margin-bottom: 0px;

  mat-card-title {
    font-size: 2em; // Título más grande
    font-weight: 500;
    color: #3f51b5; // Color primario de Material
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); // Añade una sombra al texto
  }

  mat-card-subtitle {
    font-size: 1em;
    color: #757575;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2;
}

.spinner-overlay {
  position: absolute; // Para superponer el spinner
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); // Fondo semitransparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; // Para que esté por encima del formulario
  border-radius: 8px; // Mantener bordes redondeados
}

.login-card-actions {
  text-align: center;
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid #e0e0e0; // Separador sutil
  font-size: 0.9em;

  p {
    margin: 0;
    color: #555;
  }

  a {
    // color: mat.get-theme-color(theme.$primary-palette, default);
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.logo-wrapper {
  // border: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titulo-seo-visible {
  display: block;
  font-size: 13px !important;
  text-align: center !important;
  margin-bottom: 20px !important;
  font-weight: normal !important;
  color: #666 !important;
}
