<div
  class="login-page-wrapper"
  [style.background-image]="'url(' + imageUrl + ')'"
>
  <mat-card class="login-card">
    <mat-card-header class="login-card-header">
      <mat-card-title>¡Bienvenido de nuevo!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="appStore.isLoading()" class="spinner-overlay">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="50"
        ></mat-progress-spinner>
      </div>
      <app-login-form
        (loginSubmit)="onLogin($event)"
        [isLoading]="appStore.isLoading()"
      ></app-login-form>
    </mat-card-content>

    <mat-card-actions class="login-card-actions">
      <p>¿No tienes una cuenta?<a routerLink="/register">Inscribirse</a></p>
      <!-- <p><a routerLink="/forgot-password">¿Has olvidado tu contraseña?</a></p> -->
    </mat-card-actions>
  </mat-card>
</div>
