<div
  class="login-page-wrapper"
  [style.background-image]="'url(' + backgroundImageUrl + ')'"
>
  <mat-card class="login-card">
    <mat-card-header class="login-card-header">
      <div class="logo-wrapper">
        <img
          src="{{ logoImageUrl }}"
          style="width: 200px; border: 0px solid black"
        />
        <mat-card-title
          style="
            margin-top: 10px;
            color: #012147;
            font-family: Montserrat, sans-serif !important;
          "
          >Iniciar sesión</mat-card-title
        >
      </div>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="appStore.isLoading()" class="spinner-overlay">
        <mat-progress-spinner
          mode="indeterminate"
          diameter="50"
        ></mat-progress-spinner>
      </div>
      <app-login-form
        (loginSubmit)="onLogin($event)"
        [isLoading]="appStore.isLoading()"
      ></app-login-form>
    </mat-card-content>

    <mat-card-actions class="login-card-actions">
      <p>
        ¿No tienes una cuenta?<a style="color: #012147" routerLink="/register">
          Regístrate Aquí</a
        >
      </p>
      <!-- <p><a routerLink="/forgot-password">¿Has olvidado tu contraseña?</a></p> -->
    </mat-card-actions>
  </mat-card>
</div>
