<div class="page-container">
  <div style="display: flex; padding: 10px">
    <mat-card-header class="mat-card-header">
      <mat-card-title
        class="mat-card-title"
        style="padding: 10px !important; padding-left: 0px !important"
        >Gestión de Caja</mat-card-title
      >
    </mat-card-header>
    <button
      mat-raised-button
      color="primary"
      (click)="exportCashMovementsToExcel()"
      class="btn-corp-primary btn-excel"
    >
      <mat-icon>cloud_download</mat-icon> Exportar a Excel
    </button>
  </div>
  <mat-card class="mat-card summary-section">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">Resumen de Saldos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="summaryFilterForm" class="filter-form">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Fecha Inicio Resumen</mat-label>
          <input
            matInput
            [matDatepicker]="summaryStartDatePicker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="summaryStartDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #summaryStartDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Fecha Fin Resumen</mat-label>
          <input
            matInput
            [matDatepicker]="summaryEndDatePicker"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="summaryEndDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #summaryEndDatePicker></mat-datepicker>
        </mat-form-field>
      </form>
      <div class="form-actions" style="padding-bottom: 10px !important">
        <button
          mat-raised-button
          color="primary"
          (click)="applySummaryFilters()"
          class="btn-corp-primary"
        >
          <mat-icon>filter_list</mat-icon> Aplicar Filtros Resumen
        </button>
      </div>

      <div *ngIf="isLoadingSummary" class="loading-overlay">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
      <div *ngIf="summary$ | async as summary" class="summary-table-container">
        <div class="summary-table">
          <div class="summary-header">
            <div class="summary-cell header-cell">Tipo</div>
            <div class="summary-cell header-cell">Efectivo</div>
            <div class="summary-cell header-cell">Yape / Transferencia BCP</div>
            <div class="summary-cell header-cell">
              Plin / Transferencia INTERBANK
            </div>
            <div class="summary-cell header-cell">POS</div>
          </div>
          <div class="summary-row">
            <div class="summary-cell">Ingreso</div>
            <div class="summary-cell">
              {{ summary.Efectivo.income | currency : "S/ " }}
            </div>
            <div class="summary-cell">
              {{ summary["Yape/Transferencia BCP"].income | currency : "S/ " }}
            </div>
            <div class="summary-cell">
              {{
                summary["Plin/Transferencia INTERBANK"].income
                  | currency : "S/ "
              }}
            </div>
            <div class="summary-cell">
              {{ summary.POS.income | currency : "S/ " }}
            </div>
          </div>
          <div class="summary-row">
            <div class="summary-cell">Egreso</div>
            <div class="summary-cell">
              {{ summary.Efectivo.expense | currency : "S/ " }}
            </div>
            <div class="summary-cell">
              {{ summary["Yape/Transferencia BCP"].expense | currency : "S/ " }}
            </div>
            <div class="summary-cell">
              {{
                summary["Plin/Transferencia INTERBANK"].expense
                  | currency : "S/ "
              }}
            </div>
            <div class="summary-cell">
              {{ summary.POS.expense | currency : "S/ " }}
            </div>
          </div>
          <div class="summary-row">
            <div class="summary-cell">Saldo</div>
            <div class="summary-cell">
              {{ summary.Efectivo.balance | currency : "S/ " }}
            </div>
            <div class="summary-cell">
              {{ summary["Yape/Transferencia BCP"].balance | currency : "S/ " }}
            </div>
            <div class="summary-cell">
              {{
                summary["Plin/Transferencia INTERBANK"].balance
                  | currency : "S/ "
              }}
            </div>
            <div class="summary-cell">
              {{ summary.POS.balance | currency : "S/ " }}
            </div>
          </div>
          <div class="summary-row total-row">
            <div class="summary-cell total-label">Ingreso Caja</div>
            <div class="summary-cell total-value">
              {{ summary.totalCashIncome | currency : "S/ " }}
            </div>
          </div>
          <div class="summary-row total-row">
            <div class="summary-cell total-label">Egreso Caja</div>
            <div class="summary-cell total-value">
              {{ summary.totalCashExpense | currency : "S/ " }}
            </div>
          </div>
          <div class="summary-row total-row">
            <div class="summary-cell total-label">Total en Caja</div>
            <div class="summary-cell total-value">
              {{ summary.totalCashBalance | currency : "S/ " }}
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title"
        >Detalle de movimientos</mat-card-title
      >
    </mat-card-header>
    <mat-card class="mat-card">
      <!-- <mat-card-header class="mat-card-header">
        <mat-card-title class="mat-card-title" style="padding: 10px !important"
          >Gestión de Caja</mat-card-title
        >
      </mat-card-header> -->
      <mat-card-content>
        <form [formGroup]="filterForm" class="filter-form">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Fecha Inicio</mat-label>
            <input
              matInput
              [matDatepicker]="startDatePicker"
              formControlName="startDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Fecha Fin</mat-label>
            <input
              matInput
              [matDatepicker]="endDatePicker"
              formControlName="endDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tipo de Movimiento</mat-label>
            <mat-select formControlName="typeMovement">
              <mat-option value="">Todos</mat-option>
              <mat-option value="INGRESO">Ingreso</mat-option>
              <mat-option value="EGRESO">Egreso</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Forma de Pago</mat-label>
            <mat-select formControlName="paymentsMethod">
              <mat-option value="">Todos</mat-option>
              <!-- <mat-option value="Efectivo">Efectivo</mat-option>
            <mat-option value="Otros">Otros</mat-option> -->
              <mat-option *ngFor="let type of paymentMethods" [value]="type">{{
                type
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Add user filter if needed -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              formControlName="search"
              placeholder="Buscar..."
            />
          </mat-form-field>
        </form>
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            (click)="applyFilters()"
            class="btn-corp-primary"
          >
            <mat-icon>filter_list</mat-icon> Aplicar Filtros
          </button>
          <button
            mat-raised-button
            color="accent"
            (click)="openAddMovementDialog()"
            class="btn-corp-primary"
          >
            <mat-icon>add</mat-icon> Registrar Movimiento
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card-content>
      <div *ngIf="isLoadingResults" class="loading-overlay">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
      <div class="">
        <table mat-table [dataSource]="cashMovements" matSort class="mat-table">
          <!-- Code Column -->
          <ng-container matColumnDef="code">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-header-cell"
            >
              N°
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.code }}
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-header-cell"
            >
              Fecha
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.date | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="typeMovement">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-header-cell"
            >
              Tipo
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.typeMovement }}
            </td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-header-cell"
            >
              Monto
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.amount | currency : "S/ " }}
            </td>
          </ng-container>

          <!-- Payment Method Column -->
          <ng-container matColumnDef="paymentsMethod">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-header-cell"
            >
              Forma de Pago
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.paymentsMethod }}
            </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-header-cell"
            >
              Descripción
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.description }}
            </td>
          </ng-container>

          <!-- User Column -->
          <ng-container matColumnDef="user">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-header-cell"
            >
              Usuario
            </th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              {{ element.user?.username }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
              Acciones
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                [matMenuTriggerFor]="actionsMenu"
                aria-label="Acciones"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actionsMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="editMovement(element)"
                  *ngIf="isReceptionistOrAdmin()"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="generatePdf(element.id)">
                  <mat-icon>picture_as_pdf</mat-icon>
                  <span>Imprimir ticket</span>
                </button>
                <button
                  mat-menu-item
                  (click)="deleteMovement(element.id)"
                  *ngIf="!isReceptionist()"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">
              No hay movimientos de caja que coincidan con los filtros.
            </td>
          </tr>
        </table>

        <mat-paginator
          [length]="totalItems"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20, 50]"
          (page)="onPageChange($event)"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
